<form>
    <div>
        <label for="nome" class="col-sm-2 col-form-label col-form-label-md">Placa</label>
        <input class="form-control" id="" name="" type="text" />
    </div>
    <br>
    <div>
        <label for="cargaHoraria" class="col-sm-3 col-form-label col-form-label-md">Cor</label>
        <input class="form-control" id="" name="" type="text" />
    </div>
    <br>
    <div>
        <label for="cargaHoraria" class="col-sm-3 col-form-label col-form-label-md">Ano Modelo</label>
        <input class="form-control" id="" name="" type="text" />
    </div>
    <br>
    <div>
        <label for="cargaHoraria" class="col-sm-3 col-form-label col-form-label-md">Marca</label>
        <select class="form-control" name="" id="">
            <option>Selecione uma marca</option>
            <option>ABC</option>
            <option>DEF</option>
        </select>
    </div>
    <br>
    <button class="btn btn-success">Salvar</button>


</form>